.widgetSmall{
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
}

.widgetS_Title{
    font-size: 22px;
    font-weight: 600;
}

.widgetS_Img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.widgetS_List{
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetS_ListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.widgetS_User{
    display: flex;
    flex-direction: column;
}

.widgetS_Username{
    font-weight: 600;
}

.widgetS_UserTitle{
    font-weight: 300;
}

.widgetS_Button{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.widgetS_Icon{
    font-size: 16px !important;
    margin-right: 5px;
}